<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu+Condensed&display=swap" rel="stylesheet">
	   <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap" rel="stylesheet">
	  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
	  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
	  <link href="https://fonts.googleapis.com/css2?family=Bad+Script&display=swap" rel="stylesheet">
    <style type="text/css">
     body{
        background:ghostwhite;
      }
		.accordion{
			background:#fffafa;
		}
		.coll.btn.btn-link.btn-block{
			font-family: 'Cairo', sans-serif;
			color:black;
			font-size:1.25rem;
		}
		.holl{
			font-family: 'Cairo', sans-serif;
			
		}
              #mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}
		.slid{
		font-family: 'Bungee Inline', cursive;
		}
		.blob{
			font-family: 'Kalam', cursive;
		}
		.haff{
			background:linen;
		}
		.dund{
			background:#fffafa;
		}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: powderblue;
}

#mainNavbar .navbar-brand {
    color: #ffffff;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: rgb(222,192,222);
    transition: background 500ms;
}
.hide{
        font-family: 'Kaushan Script', cursive;
        color:white;
      }
      .jumbotron{
        text-align: center;
         background-image: url("https://images.unsplash.com/photo-1589306972979-9ab767b48fc2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
        background-position: center;
        background-size: cover;
      }
      .centrall{
        text-align: center;
      }
		.subb{
			font-family: 'Bad Script', cursive;
			font-size:1.4rem;
		}
      .fonn{
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 30px;
      }
      .card{
        background: snow;
      }
       .lead{
        font-family: 'Poppins', sans-serif;
        color:white;
      }
    </style>

    <title>CG Turf</title>
  </head>
  <body>
    <nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py-0 fixed-top">
        <a href="#" class="navbar-brand"><img src="https://i.imgur.com/y37W97r.png" height="60px" width="60px"></a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/home" class="nav-link">HOME</a>
                </li>
            </ul>
    </nav>
	  <div class="jumbotron pb-2">
  <h1 class="display-4 pt-4 hide"><strong>Most Visited</strong></h1>
  <p class="lead pt-2"><strong>Important Landmarks around the college !</strong></p>
  <hr class="my-4">
</div>
	  <div class="container">
		  <h1 class="display-5 pl-2 pr-3 pt-2 pb-5 centrall">College hotspots</h1>
		  <div class="shadow  bg-white rounded">
		 <div class="card-group">
  <div class="card">
    <img src="https://images.shiksha.com/mediadata/images/1495173503phppiHIUR.png"class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">VNR Library</h5>
      <p class="card-text"><strong>Timings :</strong> 8:00am to 8:00pm ; 9:00am to 4:00pm during examinations and on sundays</p>
		<div class="card">
		  <div class="card-body haff">
			To access the services of the Library, you require a<strong> Library card</strong> 
		  </div>
		</div>
		<p>
			
		</p>
		<p>
			Highly qualified, efficient library staff to ensure the best possible information services. Standard textbooks and books by well-known authors are stocked, and every effort is made to obtain all titles recommended by the faculty. Fully automated for day-to-day operations, the library has 3 servers and 32 clients.
		</p>
		<p>
			It is situated in C-block First floor
		</p>
    </div>
  </div>
  <div class="card">
    <img src="https://images.collegedunia.com/public/college_data/images/campusimage/14277785349.jpg" class="card-img-top" alt="..."  height="220px">
    <div class="card-body">
      <h5 class="card-title text-center">Canteen</h5>
		<p class="card-text"><strong>Timings :</strong> open during college working hours</p>
		<p class="card-text">Our Canteen serves a variety of dishes for the two courses of Breakfast and Lunch with a menu that has few items changing daily</p>
		<p class="card-text">It houses a Tea stall and snacks counter with beverages.The main menu even contains some sizzling hot snacks served in the evening hours of the college</p>
		<div class="card">
		  <div class="card-body haff">
			Back door entrance of the canteen to C-block cuts half the distance you travel around the block 
		  </div>
		</div>
		  
    </div>
  </div>
  <div class="card">
    <img src="https://engineeringcollege.in/wp-content/uploads/2019/01/naac6.jpg" alt="..." height="220px">
    <div class="card-body">
      <h5 class="card-title text-center">KS Audi</h5>
		 <h5 class="card-title text-center">Kode Satyanarayana Auditorium</h5>
      <p class="card-text">KS Audi is the stage for all kinds of major events that take place in our campus such as any technical workshops or cultural activities by the clubs.</p>
		<p class="card-text">Its seating capacity can accomodate around 8 whole classes of students at a time. It is equipped with two projector screens near the stage and two more near the end of the hall and high quality sound systems with the console at the end </p>
		<p>
			It is situated in C-block ground floor
		</p>
    </div>
  </div>
			  </div>
</div>
</div>
	  <div class="container pt-4 mt-5">
		  <div class="shadow  bg-white rounded">
		  <div class="border dund pl-3">
		  <p>
			  <div class="subb">For any college related updates follow the official VNR instagram page &ensp; <a href="https://www.instagram.com/vnrvjiethyd/" class="btn btn-primary holl pl-3"> Instagram <i class="fab fa-instagram"></i></a></div>
		  </p>
	</div>
	  </div>
</div>
	  </div>
	<div class="container pt-4">
		<h1 class="display-5 pl-2 pr-3 pt-2 pb-5 centrall">Meet your Needs</h1>
		<div class="row ">
			<div class="col-sm-12 col-lg-4 pb-3 pl-3">
				<div class="shadow  bg-white rounded">
			<div class="card" style="height: 18rem;">
			  <div class="card-body">
				<h5 class="card-title">Stationary</h5>
				<h6 class="card-subtitle mb-2 text-muted">B-block ground floor</h6>
				<p class="card-text"><ul>
				  <li>Records, Graphs, Charts</li>
				  <li>Books, Stationary, White papers</li>
				  <li>Printouts, Xerox</li>
				  </ul><p><strong>Mail: </strong>mohanaenterprises123@gmail.com
				  </p>
			  </div>
			</div>	
			</div>
			</div>
			<div class="col-sm-12 col-lg-4 pb-3 pl-3 ">
			<div class="shadow  bg-white rounded">
			<div class="card" style="height: 18rem;">
			  <div class="card-body">
				<h5 class="card-title">Coffee shop</h5>
				<h6 class="card-subtitle mb-2 text-muted">near PG block entrance</h6>
				<p class="card-text"><p>
				  Menu items available here include :
				  </p><ul>
				  <li>Coffee, Milk, Hot chocolate</li>
				  <li>Snacks like Samosa, Puffs, sandwiches</li>
				  <li>Cold beverges, Milkshakes</li>
				  </ul></p>
			  </div>
				</div>
			</div>		
			</div>
			<div class="col-sm-12 col-lg-4 pb-3 pl-3  ">
				<div class="shadow  bg-white rounded">
					<div class="card" style="height: 18rem;">
			  <div class="card-body">
				<h5 class="card-title">ATM</h5>
				<h6 class="card-subtitle mb-2 text-muted">near college entrance</h6>
				  <p class="card-text">Axis bank ATM</p>
				<p class="card-text">Available to withdraw money when required</p>
			  </div>
			</div>	
				</div>
			</div>
		</div>
		</div>
	</div>
    <div class="container mb-5">
		 <h1 class="display-5 pl-2 pr-3 pt-4 pb-5 centrall">Frequently asked Queries</h1>
		<div class="shadow  bg-white rounded">
    <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="coll btn btn-link btn-block text-left text-center" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Application for a new ID card
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
      In order to apply for a new ID card you need the approval of your Department HOD and should submit the consent letter with HOD's signature at the Student Service center desk.<p>
		  The Student service center is situated in the ground floor of B-block
		  </p>
		  <p>
			  <strong> Charges are applicable</strong>
		  </p>
		  <p>
		  </p>
      </div>
    </div>
  </div>
  
		<div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="coll btn btn-link btn-block text-left collapsed text-center" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Paying condonation fee
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
		  In order to pay the Condonation fee you have to fill the condonation form which you can either download or get it from the student service center. Take the form<strong> signed by your parents and mentor</strong> and the related medical certificate and pay the condonation fee at the student service center.<p>
Altogether you have to submit all these forms and payment reciept to your HOD in order to be able to attend your Examinations.
		  <p>The Student service center is situated in the ground floor of B-block</p>
		  </p>

        <a href="https://drive.google.com/file/d/17PvqLd9MiuIOnA0RUsNt17Mg8jEIwvFP/view?usp=sharing">- Download Condonation form -</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="coll btn btn-link btn-block text-left collapsed text-center" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          To collect any submitted educational certificate
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
       In case you require your certificates  for some temporary purpose you have to visit the Examination branch with a written letter containing the reason for withdrawing them.
		  <p>
			  You have to return them within a limited period of time
		  </p>
		  <p>
			  Examination branch is located on the top floor of D-block
		  </p>
      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="coll btn btn-link btn-block text-left collapsed text-center" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Applying for Sports
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        To apply for any sports you have to visit student service center, pay the respective fee and submit the fee reciept to the concerned Sports instructor 
		  <p>The Student service center is situated in the ground floor of B-block</p>
      </div>
    </div>
  </div>
		</div>
</div>
</div>
  

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>