<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <style type="text/css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
		
      body{
        background:ghostwhite;
      }
        #mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}
		.subb{
			font-family: 'Shadows Into Light', cursive;
			font-size:1.4rem;
		}
#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: powderblue;
}

#mainNavbar .navbar-brand {
    color: #ffffff;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: rgb(222,192,222);
    transition: background 500ms;
}
.hide{
        font-family: 'Kaushan Script', cursive;
        color:white;
      }
      .jumbotron{
        text-align: center;
         background-image: url("https://images.unsplash.com/photo-1589306972979-9ab767b48fc2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
        background-position: center;
        background-size: cover;
      }
      .centrall{
        text-align: center;
      }
      .card{
        background: snow;
      }
       .lead{
        font-family: 'Poppins', sans-serif;
        color:white;
      }
    </style>

    <title>sac</title>
  </head>
  <body>
       <nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py-0 fixed-top">
         <a href="#" class="navbar-brand"><img src="https://i.imgur.com/y37W97r.png" height="60px" width="60px"></a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/home" class="nav-link">HOME</a>
                </li>
            </ul>
    </nav>
    <div class="jumbotron pb-2">
  <h1 class="display-4 hide pt-4"><strong>Student Activity Center</strong></h1>
  <p class="lead pt-4"><strong>Home of VNR VJIET's social and cultural clubs</strong></p>
  <hr class="my-4">
</div>
	   <h1 class="display-5 pl-4 pt-2 pb-4 centrall">Fests</h1>
	<div class="container">
	<div class="row">
		<div class="col-lg-6 pb-4">
			<div class="shadow p-0 mb-5 bg-white rounded">
			<div class="card" style="height:41rem;">
      <img src="https://i.ytimg.com/vi/sACYkyYi7os/maxresdefault.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sintillashunz</h5>
        <p class="card-text">Sintillashunz, since its inception in the year 2002, has been one of the biggest cultural fests in Hyderabad. Sintillashunz, today, has established itself as a brand, by the sheer put in by its organizing committee and the unfliching support of the college management</p>
		  <p>
			 &ensp;
		  </p>
		  <p>
			 &ensp;
		  </p>
		  
		  <p class="subb"><i class="far fa-arrow-alt-circle-down"></i> view the official youtube channel</p>
		  <a href="https://www.youtube.com/user/SintillashunzatVNR" class="btn btn-danger">Youtube <i class="fab fa-youtube"></i></a>
      </div>
    </div>
		</div>
		</div>
		
		<div class="col-lg-6 pb-4">
			<div class="shadow p-0 mb-5 bg-white rounded">
			<div class="card">
      <img src="https://i.ytimg.com/vi/FqR0FhQ1B1s/maxresdefault.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Convergence</h5>
        <p class="card-text">The National level Technical Symposium under the banner 'CONVERGENCE' has been instrumental in shifting the paradigm of usual course work. Since its inception in 1999, it has evolved as an ultimate platform for the techno maniacs. The 2016 edition has taken up n untrodden path on its way to be stupendous, throwing light on new ideas. It brings in a series of events and activities spread 2 days involving the students of technical events and workshops</p>
		  <p class="subb"><i class="far fa-arrow-alt-circle-down"></i> Know more about this fest</p>
		  <a href="https://www.instagram.com/convergence_vnrvjiet/" class="btn btn-primary">Instagram <i class="fab fa-instagram"></i></a>
      </div>
    </div>
		</div>
		</div>
		  
	</div>
	</div>
	 
	  
    <h1 class="display-5 pl-4 pt-2 pb-4 centrall">Clubs</h1>
    <div class="container">
      <div class="row pb-md-3 pb-2">
  <div class="col-sm-6 col-lg-4 pb-2">
    <div class="shadow p-0 mb-5 bg-white rounded ">
    <div class="card "style="height: 23rem;" >
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-between">Creative arts <img src="https://i.imgur.com/5DtZfRK.png" height="50px" width="50px" class=" border rounded-circle border-secondary"></h5>
        <p class="card-text">Arts club of VNR VJIET</p>
		  <p class="card-text">Our club invites all the variants of art so that we can make  beautiful rainbow when we integrate our individual skillsets</p>
		  <p>
			 &ensp;
		  </p>
		  <p class="subb"><i class="far fa-arrow-alt-circle-down"></i> Explore more about the club</p>
        <a href="https://www.instagram.com/creative_arts_at_vnr/" class="btn btn-primary">Instagram <i class="fab fa-instagram"></i></a>
      </div>
    </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 pb-2">
    <div class="shadow p-0 mb-5 bg-white rounded">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-between">Crescendo <img src="https://i.imgur.com/i8wEGJF.png" height="50px" width="50px" class=" border rounded-circle border-secondary"></h5>
        <p class="card-text"> Music club of VNR VJIET</p>
		  <p class="card-text">Formed in the year 2002 by Prashanth Narayan and Ramakrishna kalicharan with the prime motto of gathering people passionate about making music and jamming for a few hours at the college</p>
		  <p class="subb"><i class="far fa-arrow-alt-circle-down"></i> Explore more about the club</p>
        <a href="https://www.instagram.com/crescendo_vnrvjiet/" class="btn btn-primary">Instagram <i class="fab fa-instagram"></i></a>
		  <a href="https://www.youtube.com/channel/UCWerpdygBm_mJy81dKDaceQ" class="btn btn-danger">Youtube <i class="fab fa-youtube"></i></a>
      </div>
      </div>
    </div>
  </div>
   <div class="col-sm-6 col-lg-4 pb-2">
    <div class="shadow p-0 mb-5 bg-white rounded">
    <div class="card"style="height: 23rem;">
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-between">Live wire <img src="https://i.imgur.com/bzUs5HF.png" height="50px" width="50px" class=" border rounded-circle border-secondary"></h5>
        <p class="card-text">Dance club of VNR VJIET</p>
		  <p class="card-text">Being established in 2005, Livewire is the official All style dance club of VnrVjiet ! Proficient in various dance forms mainly Hip-Hop !</p>
		  <p class="subb"><i class="far fa-arrow-alt-circle-down"></i> Explore more about the club</p>
        <a href="https://www.instagram.com/livewire.crew/" class="btn btn-primary">Instagram <i class="fab fa-instagram"></i></a>
		  <a href="https://www.youtube.com/channel/UC3Jy39i6KV2uO-TT9Y3DKTg" class="btn btn-danger">Youtube <i class="fab fa-youtube"></i></a>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="row pb-m-3 pb-2">
  <div class="col-sm-6 col-lg-4 pb-2">
    <div class="shadow p-0 mb-5 bg-white rounded">
    <div class="card"style="height:26rem">
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-between">Dramatrix  <img src="https://i.imgur.com/zVUIxBJ.png" height="50px" width="50px" class=" border rounded-circle border-secondary"></h5>
        <p class="card-text">Drama club of VNR VJIET</p>
		  <p class="card-text">Dramatrix club is very active club in VNR VJIET with very potential dramatists and their award winning performances. The Drama Club works on speech, stage presentation and theatre production</p>
		  <p class="subb"><i class="far fa-arrow-alt-circle-down"></i> Explore more about the club</p>
        <a href="https://www.instagram.com/dramatrixatvnr/" class="btn btn-primary">Instagram <i class="fab fa-instagram"></i></a>
      </div>
    </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 pb-2">
    <div class="shadow p-0 mb-5 bg-white rounded">
    <div class="card" style="height:26rem">
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-between">VJ teatro <img src="https://i.imgur.com/8bkqKTn.png" height="50px" width="50px" class=" border rounded-circle border-secondary"></h5>
        <p class="card-text">Short film club of VNR VJIET</p>
		  <p class="card-text">One of the best short film clubs in South India and it is well known for its short films like How I Met Myself, MY 3 (Mythri), Ek villain, among others </p>
		  <p>
			&nbsp;
		  </p>
		  <p class="subb"><i class="far fa-arrow-alt-circle-down"></i> Explore more about the club</p>
        <a href="https://www.instagram.com/vjteatro/" class="btn btn-primary">Instagram <i class="fab fa-instagram"></i></a>
		  <a href="https://www.youtube.com/user/shootitloveit/videos" class="btn btn-danger">Youtube <i class="fab fa-youtube"></i></a>
      </div>
    </div>
    </div>
  </div>
   <div class="col-sm-6 col-lg-4 pb-2">
    <div class="shadow p-0 mb-5 bg-white rounded">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-between">Scintillate <img src="https://i.imgur.com/CMojfzy.png" height="50px" width="50px" class=" border rounded-circle border-secondary"></h5>
        <p class="card-text">Photography club of VNR VJIET</p>
		  <p class="card-text">We the students of VNR have recorded memories off all these events, thanks to the Photography Club of our college.A flash and an image realistic than what our eyes can see is what they provide us. Get sintillated with the memories given by Scintillate </p>
		  <p class="subb"><i class="far fa-arrow-alt-circle-down"></i> Explore more about the club</p>
        <a href="https://www.instagram.com/scintillatevnrvjiet/" class="btn btn-primary">Instagram <i class="fab fa-instagram"></i></a>
		   <a href="https://www.youtube.com/channel/UCM6G_djHqxiEW0-4bC1pIew" class="btn btn-danger">Youtube <i class="fab fa-youtube"></i></a>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="row pb-m-3 pb-2">
  <div class="col-sm-6 col-lg-4 pb-2">
    <div class="shadow p-0 mb-5 bg-white rounded">
    <div class="card"style="height:24rem">
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-between">VNR SF <img src="https://i.imgur.com/IsTb23g.png" height="50px" width="50px" class=" border rounded-circle border-secondary"></h5>
        <p class="card-text">SF is an NGO and works on domains like Education, Environment, Empowerment and Charity</p>
		  <p class="card-text">VNRSF tries to educate, enlighten and empower the society with it's thoughts and actions</p>
		  <p class="subb"><i class="far fa-arrow-alt-circle-down"></i> Explore more about the club</p>
        <a href="https://www.instagram.com/studentforce_btc/?hl=en" class="btn btn-primary">Instagram <i class="fab fa-instagram"></i></a>
      </div>
    </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 pb-2">
    <div class="shadow p-0 mb-5 bg-white rounded">
    <div class="card"style="height:25rem">
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-between">NSS <img src="https://i.imgur.com/jm2tUy5.png" height="50px" width="50px" class=" border rounded-circle border-secondary"></h5>
        <p class="card-text">NSS club of VNR VJIET</p>
		  <p class="card-text">NSS unit  VNR VJIET was established in the year 2006. Ever since then, it has organised many events that are focused on the welfare of society like free health camps, blood donation camps, plantation programmes and many other events</p>
		  <p class="subb"><i class="far fa-arrow-alt-circle-down"></i> Explore more about the club</p>
        <a href="https://www.instagram.com/nssteamvnrvjiet/?hl=en" class="btn btn-primary">Instagram <i class="fab fa-instagram"></i></a>
      </div>
    </div>
    </div>
  </div>
   <div class="col-sm-6 col-lg-4 pb-2">
    <div class="shadow p-0 mb-5 bg-white rounded">
    <div class="card"style="height:24rem">
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-between">Stentorian <img src="https://i.imgur.com/JxHUypC.png" height="50px" width="50px" class=" border rounded-circle border-secondary"></h5>
        <p class="card-text">Literary club of VNR VJIET</p>
		  <p class="card-text">The Literary Club, established as the Stentorian, aims at fostering a love for books and literature in students, and promoting literary activities in college and the city</p>
		  <p class="subb"><i class="far fa-arrow-alt-circle-down"></i> Explore more about the club</p>
        <a href="https://www.instagram.com/stentorian_vnrvjiet/?hl=en" class="btn btn-primary">Instagram <i class="fab fa-instagram"></i></a>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="row pb-m-3 pb-2">
  <div class="col-sm-6 col-lg-4 pb-2">
    <div class="shadow p-0 mb-5 bg-white rounded">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-between">Nrithya Tarang  <img src="https://i.imgur.com/IpsoD32.png" height="50px" width="50px" class=" border rounded-circle border-secondary"></h5>
        <p class="card-text">Classical Dance club of VNR VJIET</p>
		  <p class="card-text">Nrithya Tarang, the classical dance club of VNRVJIET was conceived with an aim to introduce Indian classical dance forms to the present-day youth and make them aware of its beauty and intricacy. Established in the year 2017, Nrithya Tarang has actively performed in college events, whenever it has got the opportunity to do so.</p>
		  <p class="subb"><i class="far fa-arrow-alt-circle-down"></i> Explore more about the club</p>
        <a href="https://www.instagram.com/nrithyatarang/?hl=en" class="btn btn-primary">Instagram <i class="fab fa-instagram"></i></a>
      </div>
    </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 pb-2">
    <div class="shadow p-0 mb-5 bg-white rounded">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-between">N-Army <img src="https://i.imgur.com/8XL2kis.png" height="50px" width="50px" class=" border rounded-circle border-secondary"></h5>
        <p class="card-text">VNR VJIET's very own Environmental club</p>
		  <p class="subb"><i class="far fa-arrow-alt-circle-down"></i> Explore more about the club</p>
        <a href="https://www.instagram.com/narmyatvnr/?hl=en" class="btn btn-primary">Instagram <i class="fab fa-instagram"></i></a>
      </div>
    </div>
    </div>
  </div>
   <div class="col-sm-6 col-lg-4 pb-2">
    <div class="shadow p-0 mb-5 bg-white rounded">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-between">Vignana Jyothi Sahitivanam <img src="https://i.imgur.com/4T5j4AN.png" height="50px" width="50px" class=" border rounded-circle border-secondary"></h5>
        <p class="card-text">Telugu lover's club of VNR VJIET</p>
		  <p class="card-text">తెలుగు భాష-సంస్కృతి-సాహిత్యం-సాంకేతికతలకు సంబంధించి వెలిసిన విద్యార్థిసమితి "విజ్ఞానజ్యోతి సాహితీవనం". జులై 22, 2013 నుంచి యిప్పటి దాకా ఎన్నో విభిన్నమైన కార్యక్రమాలతో పోటీలతో అందఱినీ అలరిస్తూనే నేటి సాంకేతికయుగంలో తెలుగు పాత్రని నొక్కి చెప్పే విధంగా అడపాదడపా కార్యశాలలు కూడా నిర్వహిస్తోంది యీ తెలుగు సాహిత్య కూటమి. 
భాషాభిమానులకు సాహితీ ప్రపంచం అయిన విజ్ఞానజ్యోతి సాహితీవనం, నేటి సమాజానికి మాతృభాష ప్రాధాన్యతను, అందులోని మాధుర్యాన్ని తెలుపడంతో పాటు సాంకేతిక విజ్ఞానానికి అడ్డుగా ఉన్న భాషాగోడలను తొలగించడానికి కృషి చేస్తుంది.</p>
		  <p><i class="far fa-arrow-alt-circle-down"></i><strong> క్లబ్ గురించి మరింత తెలుసుకోవడానికి</strong></p>
        <a href="https://www.instagram.com/vj.sahitivanam/?hl=en" class="btn btn-primary">Instagram <i class="fab fa-instagram"></i></a>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-lg-4">
    <div class="shadow p-0 mb-5 bg-white rounded">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-between">Kaksya Sastra <img src="https://i.imgur.com/FJvX1tS.png" height="50px" width="50px" class=" border rounded-circle border-secondary"></h5>
        <p class="card-text">Astronomy club of VNR VJIET</p>
		  <p class="subb"><i class="far fa-arrow-alt-circle-down"></i> Explore more about the club</p>
        <a href="https://www.instagram.com/kaksya_sastra_vnrvjiet/?hl=en" class="btn btn-primary">Instagram <i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
  </div>
</div>
    </div>







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>