<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	  <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Kalam&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Abel&family=Bungee+Inline&family=Bungee+Shade&display=swap" rel="stylesheet">
	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap" rel="stylesheet">
	  <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <style type="text/css">
      body{
        background:ghostwhite;
      }
              #mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}
		.slid{
		font-family: 'Bungee Inline', cursive;
		}
		.blob{
			font-family: 'Kalam', cursive;
		}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: powderblue;
}

#mainNavbar .navbar-brand {
    color: #ffffff;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: rgb(222,192,222);
    transition: background 500ms;
}
.hide{
        font-family: 'Kaushan Script', cursive;
        color:white;
      }
      .jumbotron{
        text-align: center;
         background-image: url("https://images.unsplash.com/photo-1589306972979-9ab767b48fc2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
        background-position: center;
        background-size: cover;
      }
      .centrall{
        text-align: center;
      }
      .fonn{
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 30px;
      }
		.card-text li{
			font-family: 'Abel', sans-serif;
			font-size:1.15rem;
		}
      .card{
        background: snow;
      }
       .lead{
        font-family: 'Poppins', sans-serif;
        color:white;
      }
    </style>

    <title>sac</title>
  </head>
  <body>
    <nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py-0 fixed-top">
        <a href="#" class="navbar-brand"><img src="https://i.imgur.com/y37W97r.png" height="60px" width="60px"></a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/home" class="nav-link">HOME</a>
                </li>
            </ul>
    </nav>
	<div class="jumbotron pb-2">
  <h1 class="display-4 pt-4 hide"><strong>Sports Complex</strong></h1>
  <p class="lead pt-2"><strong>Sports and Games</strong></p>
  <hr class="my-4">
</div>
	  <h4 class="display-5 pl-4 pt-2 pb-5 centrall blob container "> A state-of-the-art Sports Complex called 'KODE VENKATADRI CHOWDARY SPORTS COMPLEX', with a plinth area of 2,900sq.m was constructed in the year 2005.It was inaugurated on 27th june,2005</h4>
	 
	  <div class="container">
		  <div class="shadow  bg-white rounded">
		  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://i.imgur.com/x8oZKik.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption  d-md-block">
        <h1 class="slid">GYM</h1>
        <p></p>
      </div>
    </div>
	  <div class="carousel-item">
      <img src="https://i.imgur.com/sygU1YF.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption  d-md-block">
        <h1 class="slid">Snookers</h1>
        <p></p>
      </div>
    </div>
	  <div class="carousel-item">
      <img src="https://i.imgur.com/ap04La6.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption  d-md-block">
        <h1 class="slid">Chess</h1>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://i.imgur.com/FbCdbG0.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption  d-md-block">
        <h2 class="slid">Tabble tennis</h2>
        <p></p>
      </div>
    </div>
	  <div class="carousel-item">
      <img src="https://i.imgur.com/DA4aRoy.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption  d-md-block">
        <h1 class="slid">Badminton</h1>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://i.imgur.com/Al89j0G.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption  d-md-block">
        <h2 class="slid">Tournaments</h2>
        <p></p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
		  </div>
	  </div>
	   <h4 class="display-5 pl-4 pt-5 pb-4 centrall blob container ">With the kind of sports facilities that VNRVJIET is equipped with,it is in a position to organise International, National and All India Inter University Level Tournaments in the following events in our VNRVJIET: Athletics, Badminton, Basketball, Billards, Cricket, Football, Handball, Hockey, Kabaddi, Kho-Kho, Table Tennis, Tennikoit, Tennis, Throwball, Volleyball and Yoga.<P>
		   
		   </P></h4>
	  <div class="container">
		  <div class="shadow  bg-white rounded">
		  <div class="card">
  <div class="card-body">
    If you are intrested to join any sport, know how to apply for it<a href="/home/manage"> here</a>
  </div>
			  </div>
</div>
		  
	  </div>
	  <h1 class="display-5 pl-2 pr-3 pt-4 pb-5 centrall">Sports</h1>
    <div class="container">
      <div class="row pb-md-3 pb-2">
		  <div class="col-sm-6 col-lg-6 pb-2">
			<div class="shadow p-0 mb-5 bg-white rounded">
			<div class="card" style="height:18rem">
			  <div class="card-body">
				<h5 class="card-title d-flex justify-content-between">Indoor sports</h5>
				<ul class="card-text">
				 <li>Gym</li>
				 <li>Badminton</li>
				 <li>Basket ball</li>
				 <li>Billiards Snooker</li>
				 <li>Table Tennis</li>
				 <li>Carrom Boards</li>
				 <li>Chess</li>
				 </ul>
			  </div>
			</div>
			</div>
		  </div>
		  <div class="col-sm-6 col-lg-6 pb-2">
			<div class="shadow p-0 mb-5 bg-white rounded">
			<div class="card">
			  <div class="card-body">
				<h5 class="card-title d-flex justify-content-between">Outdoor sports </h5>
				<ul class="card-text">
				 <li>Cricket</li>
				 <li>Ball Badminton</li>
				 <li>Volleyball</li>
				 <li>Football</li>
				 <li>Handball</li>
				 <li>Throwball</li>
				 <li>Kho-Kho</li>
				 <li>Basketball cement court exclusively for girls</li>
				 </ul>
			  </div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	  <div class="container pb-4">
    <div class="card card-default" id="card_contacts">
        <div id="contacts" class="panel-collapse collapse show" aria-expanded="true" style="">
            <ul class="list-group pull-down" id="contact-list">
                <li class="list-group-item">
                    <div class="row w-100">
                        <div class="col-12 col-sm-6 col-md-3 px-0">
                            <img src="https://cdn.stumagz.com/images/56aa4bec3d0bdprofilepic" alt="VNR sports" class="rounded-circle mx-auto d-block img-fluid">
                        </div>
                        <div class="col-12 col-sm-6 col-md-9 text-center text-sm-left pt-3">
                            <label class="name lead" style="color:black;">VNR Sports</label>
                            <br> 
                            <span class="fa fa-map-marker fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="VR sports"></span>
                            <span class="text-muted">Kode Venkatadri Chowdary Sports Complex</span>
                            <br>
                            <span class="fa fa-phone fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="(870) 288-4149"></span>
                            <span class="text-muted small">9440121314</span>
                            <br>
                            <span class="fa fa-envelope fa-fw text-muted" data-toggle="tooltip" data-original-title="" title=""></span>
                            <span class="text-muted small text-truncate">sports@vnrvjiet.in</span>
                        </div>
                    </div>
                </li>
                </ul>
              </div>
            </div>
          </div>







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>