<!DOCTYPE html>
<html>
 	<head>
		<meta charset="utf-8">
		<!-- boot -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
		<!-- boot -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
		<style type="text/css">
		.container.main{
	margin-top:7.0em;
}
#delete{
	display:inline;
}
body{
           background-position: center;
        background-size: cover;
          background-image: url("https://images.unsplash.com/photo-1498116069452-debf99cb30f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  
        }
.ui.huge.header.hide{
        font-family: 'Rajdhani', sans-serif;
        color:white;
	font-size: 3rem;
}

/* naya vaala  */
 #mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: powderblue;
}

#mainNavbar .navbar-brand {
    color: #ffffff;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}
			.popo{
				font-family: 'Shadows Into Light', cursive;
				color:white;
				font-size:2rem;
			}

.navbar.scrolled {
    background: rgb(222,192,222);
    transition: background 500ms;
}</style>
		<title>CG Guide</title>
	</head>
	<body>
		<nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py-0 fixed-top">
        <a href="#" class="navbar-brand"><img src="https://i.imgur.com/y37W97r.png" height="50px" width="50px"></a>
			<a href="/home" class="navbar-brand">Home</a>
			<a href="/home/guides" class="navbar-brand">View</a>
			<a href="/home/guides/new" class="navbar-brand">Add</a>
			<a href="/home/logout" class="navbar-brand">Logout</a>
    </nav>
